---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import mision from "../../images/mision.jpeg"
import { Image } from 'astro:assets';
---

<section id="mision" class="scroll-mt-40">
	<Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
		<div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
			<div class="w-full h-80 sm:h-96 midmd:h-full relative">
				<div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
				<div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>

				<span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"></span>
				<Image src={mision} alt="Misión" width="600" height="387" class=" w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full rounded-2xl" />
			</div>
		</div>

		<div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
			<Title>
				Misión
			</Title>
			<Paragraph className="mt-2 font-semibold">
				Cubrir tus Necesidades Hospitalarias con Eficiencia y Calidad
			</Paragraph>
			<Paragraph className="mt-8">
				En <span class="text-transparent bg-clip-text bg-gradient-to-br from-sky-600 from-20% via-primary via-30% to-cyan-400">DITEC</span>, nuestra misión es ayudar a nuestros clientes a cubrir sus diversas necesidades hospitalarias con un servicio eficaz, competitivo y de calidad. Nos comprometemos a garantizar tu seguridad y bienestar integral mediante la entrega de insumos confiables y de alto rendimiento, incluyendo:
			</Paragraph>

			<ul class="mt-8 space-y-4 text-heading-3 font-medium">
				<li>
					<span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Material de curación
				</li>
				<li>
					<span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Medicamentos
				</li>
				<li>
					<span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Equipo médico
				</li>
				<li>
					<span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Insumos para oficina
				</li>
			</ul>
		</div>
	</Container>
</section>
