---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { services } from "../../utils/data.ts";


type ServicesProps = {
	title: string;
	description: string;
	icon: string
};


---

<section id="servicios" class="scroll-mt-40">
	<Container className="space-y-10 md:sapce-y-12">
		<div class="text-center max-w-3xl mx-auto space-y-4">
			<Title>
				Soluciones Médicas Rápidas y Confiables
			</Title>
			<Paragraph>
				En Distribuidora <span class="text-transparent bg-clip-text bg-gradient-to-br from-sky-600 from-20% via-primary via-30% to-cyan-400">DISAK</span>, ofrecemos atención inmediata y soluciones médicas confiables para cubrir todas tus necesidades. Desde material de curación hasta equipos médicos y medicamentos, estamos aquí para brindarte el mejor servicio y productos de calidad.
			</Paragraph>
		</div>
		<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
			{services.map((service: ServicesProps) => <Service title={service.title} description={service.description} icon={service.icon}/>)}
		</div>
	</Container>
</section>
