---
import Layout from '../layouts/Layout.astro';
import Container from "../components/shared/Container.astro";
---

<Layout title="Distribuidora DITEC: Suministro Confiable de Insumos Hospitalarios">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<section class="py-40 text-base dark:text-white">
			<Container class="*:mb-5">
				<h1 class="text-3xl font-bold mb-7 text-center">Política de Privacidad de DITEC Solutions</h1>

				<p>En DITEC Solutions, valoramos la privacidad y la seguridad de nuestros usuarios. Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos la información personal que usted nos proporciona a través de nuestro sitio web.</p>

				<h2 class="text-xl font-bold mt-8 mb-5">Información que Recopilamos:</h2>
				<p>Cuando visita nuestro sitio web, podemos recopilar cierta información automáticamente, como su dirección IP, tipo de navegador, tiempo de visita y páginas vistas. Esta información nos ayuda a mejorar la experiencia del usuario y a realizar análisis estadísticos.</p>
				<p>Si se suscribe a nuestro boletín informativo o realiza una compra, recopilaremos su nombre, dirección de correo electrónico, información de contacto y detalles de la transacción. Esta información se utiliza para procesar su solicitud y mantenerlo informado sobre nuestras ofertas y actualizaciones.</p>

				<h2 class="text-xl font-bold mt-8 mb-5">Uso de la Información:</h2>
				<p>La información que recopilamos se utiliza para proporcionarle los servicios solicitados, procesar transacciones, responder a consultas y enviarle comunicaciones relacionadas con su cuenta.</p>
				<p>Podemos utilizar la información para personalizar su experiencia en nuestro sitio web y para enviarle contenido relevante basado en sus intereses y preferencias.</p>
				<p>No compartiremos su información personal con terceros sin su consentimiento, excepto cuando sea necesario para cumplir con requisitos legales o proteger nuestros derechos y propiedad.</p>

				<h2 class="text-xl font-bold mt-8 mb-5">Seguridad de la Información:</h2>
				<p>Implementamos medidas de seguridad técnicas, administrativas y físicas para proteger su información contra accesos no autorizados, uso indebido o divulgación.</p>
				<p>Sin embargo, tenga en cuenta que ninguna transmisión de datos por Internet o almacenamiento electrónico es 100% segura. A pesar de nuestros esfuerzos por proteger su información personal, no podemos garantizar la seguridad absoluta de sus datos.</p>

				<h2 class="text-xl font-bold mt-8 mb-5">Sus Derechos:</h2>
				<p>Usted tiene derecho a acceder, corregir o eliminar la información personal que tenemos sobre usted. Si desea ejercer estos derechos, comuníquese con nosotros a través de los datos de contacto proporcionados al final de esta política.</p>
				<p>También puede optar por dejar de recibir nuestras comunicaciones promocionales en cualquier momento siguiendo las instrucciones de cancelación de la suscripción incluidas en dichas comunicaciones.</p>

				<h2 class="text-xl font-bold mt-8 mb-5">Cambios en esta Política:</h2>
				<p>Nos reservamos el derecho de actualizar o modificar esta Política de Privacidad en cualquier momento. Cualquier cambio significativo será comunicado a través de nuestro sitio web o por correo electrónico.</p>
				<p>Al continuar utilizando nuestro sitio web después de que se publiquen los cambios, usted acepta los términos revisados de la Política de Privacidad.</p>

				<h2 class="text-xl font-bold mt-8 mb-5">Contacto:</h2>
				<p>Si tiene alguna pregunta o inquietud sobre nuestra Política de Privacidad o sobre el tratamiento de sus datos personales, no dude en ponerse en contacto con nosotros a través de:</p>

				<h2 class="text-xl font-bold mt-8 mb-5">DITEC Solutions</h2>
				<p>Dirección: <strong>Ermita Iztapalapa 1020 int. 43 San Lucas. c.p. 09000</strong></p>
				<p>Teléfono: <strong>552359-1286</strong></p>
				<p>Correo electrónico: <strong>ditecdistribuidora7@gmail.com</strong></p>

				<p>Última actualización: <strong>17/feb/2024</strong></p>
			</Container>
		</section>
	</main>
</Layout>
